@font-face {
  font-family: "myFont";
  src: url("myFont.ttf");
}

@media all and (display-mode: fullscreen){
}

*{
  font-family: "myFont", "Roboto-Thin", serif;
}


body {
    background-color:  #E9DCC9;
    overflow-x: hidden;
  }

  
  /* title header */
  h1 {
    color: rgb(58, 50, 160);
    background-color: rgb(122, 108, 118);
    font-size: 3em;
    text-align: center;
    text-decoration: underline;
    width: 1650px;
    min-width: none;
    max-width: 5000px;
    display: block;
  }
  
  h2 {
    color: black;
    font-size: 2lh;
    display: block;
  }
  h3 {
    color: black;
    font-size: 3ex;
    text-align: right;
  }

  h2,h3{
    text-align: center;
  }

  h4 {
    color: black;
    font-size: 17px;
  }
  .box{
    border-style: double;
  }

  h5 {
    color: black;
    font-size: 5mm;
    display: inline;
  }

  b{
    font-size: 13pt;
  }

  /* section colors */
  section{
    color: black;
    background-color: hsl(0, 6%, 56%);
    height: 200px;
    display: block;
  }

  section.intro {
    background-color: rgb(91, 77, 126);
    color: azure;
    text-align: right;
    font-size: medium;
    height: 75px;
    display: flex;
    flex-direction: row-reverse;
    flex-basis: auto;
  }

  ul{
    color: rgb(4, 3, 65);
    display: inline-block;
    font-size: medium;
  }
  .container{
    display: inline-grid;
    grid-template-rows: [row1-start] 25% [row1-end row2-start] 25% [row2-end];
    grid-template-columns: repeat(5, 150px [col-start]);
    grid-column-start: col-start 2;
  }
  li{
    color: rgb(4, 3, 65);
    position: relative;
  }
  
  button:hover {
    color: rgb(32, 7, 44);
  }

  button:active{
    box-shadow: 2px 2px 5px rgb(32, 32, 80);
  }
  button{
    position: static;
  }
  p {
    width: 300px;
    border-style:groove;
    border-color: rgb(122, 96, 143);
    border-width: 15px;
    border-radius: 2px;
    padding: 50px;
    margin: auto;
  }

  #one{
    width: 300px;
    border-style:groove;
    border-color: rgb(168, 143, 189);
    border-width: 15px;
    border-radius: 2px;
    padding: margin-top;
    margin: 20px;
  }

  #two{
    width: 500px;
    border-style:groove;
    border-color: rgb(168, 143, 189);
    border-width: 0px;
    border-radius: 0px;
    padding: 15px;
    margin: 0px;

  }
  div p{
    font-size: medium;
    color: rgb(194, 48, 48);
    
  }

  div > p{
    background-color: rgb(233, 197, 197);

  }

  strong ~ p {
    font-size: medium;
    background-color: rgb(223, 214, 243);
    
  }

  br + strong {
    text-decoration: underline;
  }


  strong {
    color: rgb(54, 35, 66);
    font-size: medium;
    
  }

  form{
    font-size: medium;
    background-color: #b19cb9;
    position: absolute;
    
  }
  a[target=_blank]{
    background-color: rgb(43, 11, 53);
    color: antiquewhite;
  }




  
  