body {
    background-color: linen;
    
  }
  
  /* title header */
  h1 {
    color: black;
    background-color: rgb(122, 108, 118);
    font-size: 50em;
    font-weight: 100px;
  }
  /* section colors */
  section{
    color: #0000ff;
    background-color: hsl(0, 6%, 56%);
    font-size: 1lh;
  }

